export(scout,cv.scout,cv2.scout,mycov,crossProdLasso)
useDynLib(scout)
S3method(print,scoutobject)
S3method(print,cvobject)
S3method(predict,scoutobject)
import(stats)
import(grDevices)
import(graphics)
